<div class="carrito">
  <h4>Su Carrito:</h4>
  {{#each carrito}}
    <p>identificado de Carrito → {{this.id}}</p>
  {{/each}}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">id Producto</th>
        <th scope="col">imagen</th>
        <th scope="col">nombre</th>
        <th scope="col">precio</th>
        <th scope="col">cantidad</th>
      </tr>
    </thead>
      {{#each carrito}}
        <tbody>
            {{#each productos}}
              <tr>
                  <th scope="row">{{this._id}}</th>
                  <td><img width="50" src="{{this.foto}}" alt="not found"></td>
                  <td>{{this.nombre}}</td>
                  <td>${{this.precio}}.00</td>
                  <td>{{this.cantidad}}</td>
                  <td><button class="btn btn-primary" onclick="location.href=`/api/carrito/deleteProducto/{{this._id}}`">eliminar</button></td>
              </tr>
            {{/each}}
        </tbody>
      {{/each}}
  </table>

  <button class="btn btn-primary" onclick="location.href='/enviarMensajes'" >finalizar compra</button>
</div>

<style>
  h4{
    background-color: rgb(202, 194, 194);
  }
  .carrito{
    margin: 50px 50px 50px 50px;
    border: black solid;
    border-radius: 10px;
    padding: 20px;
  }

</style>