<div class="productos">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">n° Identificador</th>
                <th scope="col">nombre</th>
                <th scope="col">foto</th>
                <th scope="col">precio</th>
                <th scope="col"></th>

            </tr>
        </thead>           
        <tbody>
                {{#each productos}}
                    <tr>
                        <td>#{{this._id}}</td>
                        <td>{{this.nombre}}</td>
                        <td><img width="50" src="{{this.foto}}" alt="not found"></td>
                        <td>${{this.precio}}.00</td>
                        <td>
                            <form action="/api/carrito/{{this.id}}" method="post">
                                <button class="btn btn-outline-info" name="choice" value="choice">comprar</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}    
        </tbody>
</div>

    <style>
        .productos{
            margin: 50px;
            border-radius: 15px;
            background-color: black;
            padding: 20px;
        }
        h3{
            margin: 20px 50px;
            font-style: italic;
        }
    </style>
