
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">descripcion</th>
            <th scope="col">codigo</th>
            <th scope="col">foto</th>
            <th scope="col">precio</th>
            <th scope="col">stock</th>
            <th scope="col"></th>

        </tr>
    </thead>
           
    <tbody>
            {{#each productos}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.descripcion}}</td>
                    <td>{{this.codigo}}</td>
                    <td><img width="50" src="{{this.foto}}" alt="not found"></td>
                    <td>{{this.precio}}</td>
                    <td>{{this.stock}}</td>
                    <td>
                        <form action="/api/carrito/{{this.id}}" method="post">
                            <button class="btn btn-outline-info" name="choice" value="choice">comprar</button>
                        </form>
                    </td>
                </tr>
            {{/each}}    
    </tbody>

    <style>
        table {
            margin: 0 20px 0 20px;
        }
    </style>
