<h3>Lista de Productos:</h3>
<table class="table table-success table-striped">
 <thead>
    <tr>
      <th scope="col">IDENTIFICADOR</th>
      <th scope="col">PRODUCTO</th>
      <th scope="col">IMAGEN</th>
      <th scope="col">PRECIO</th>
      <th scope="col">SELECCION</th>
    </tr>
  </thead>
  <tbody>
    {{#each productos}}
        <tr>
        <th scope="row">{{this._id}}</th>
        <td>{{this.nombre}}</td>
        <td><img width="50" src="{{this.foto}}" alt="not found"></td>
        <td>${{this.precio}}.00</td>
        <td>
            <form action="/api/carrito/{{this.id}}" method="post">
                <button class="btn btn-dark" name="choice" value="choice">comprar</button>
            </form>
        </td>
        </tr>
    {{/each}}
  </tbody>
</table>

<style>
  h3{
    margin-top: 50px;
  }
    table{
        margin: 0 30px 30px 30px;
    }
</style>